.success {
    border: 1px solid green !important;
}

.error {
    border: 1px solid red !important;
}

.error-messages {
    display: block;
}

.error-messages {
    display: none;
    position: absolute;
    font-size: 12px !important;
    bottom: 4px;
    margin-bottom: 0 !important;
    color: #f00 !important;
}